*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: white;

}
body{
  background-image: 
  url(images/silhouette-1898386_1920.jpg);
  background-repeat: no-repeat;
  background-size: 100%;  
  background-color:#61697e;
}
/*navigation*/ 

.logo{
  position: absolute;
  top: 10px;
  left: 10px;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  position: sticky;
}

.nav-links{
 display: flex;
 justify-content: space-between;
 width: 60%;
 
}
li{
  padding-top: 80px;
  list-style: none;
  
}
li a{
  text-decoration: none;
  font-size: 22px;
  transition: 0.7s;
}

li a:hover{
  color:rgba(20,232,221);
  
}
.input-search{
  background: none;
  border: none;
  border-bottom: 1px solid rgba(20,232,221);
}

.btn-search{
  background: none;
  font-weight: 800;
  padding: 3px;
  border:0.1em solid rgba(20,232,221);
  border-radius: 2em;
  text-transform: uppercase;
  transition: 0.7s;
}

.btn-search:hover{
  background-color:rgba(20,232,221) ;
}


/*page d'accueil*/

p{  
  font-size: 180px;
  font-weight: 150;
  flex-direction: column;
  text-align: center;
  margin-top: 18vh;
  text-shadow: 1px 1px 1px black;
}

.btn{
  
  margin-left:190px;
  margin-top: 100px;
}
.btn-sign{     
    
    display:inline-block;
    padding:0.4em 1.3em;
    margin:0 0.1em 0.1em 0;
    border:0.1em solid rgba(20,232,221);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;    
    font-weight:800;
    font-size: 22px;
    color:#FFFFFF;
    background-color: rgb(20,232,221);
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    text-transform: uppercase;
    transition: all 1s;
    }

.btn-sign:hover{  
  border-color: rgba(20,232,221);
  background: none;
}

.btn-sign a{
  text-decoration: none;
}

/*formulaire de contact*/

.main-contact{
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  
 }

.form{
   width: 50%;
   position: relative;
   height: 50px;
   overflow: hidden;
   
}


.form input{
   width: 100%;
   height: 100%;
   color:white;
   font-size:20px;
   padding-top: 20px;
   border: none;
   outline: none;
   background: none;
 }

.form label{
   position: absolute;
   bottom: 0px;
   left: 0%;
   width: 100%;
   height: 100%;
   pointer-events: none;
   border-bottom: 1px solid black;
 }

.form label::after {
   content: "";
   position: absolute;
   left:0px;
   bottom: -1px;
   height: 100%;
   width: 100%;
   border-bottom: 3px solid rgba(20,232,221);
   transform: translateX(-100%);
   transition: transform 0.3s ease;
 }

.content-email{
   position: absolute;
   bottom: 5px;
   left: 0px;
   font-size: 20px;
   transition: all 0.3s ease;
 }


.form input:focus + .label-email .content-email,
.form input:valid + .label-email .content-email {
transform: translateY(-150%);
font-size: 14px;
color:rgba(20,232,221);
 }

 .form input:focus .label-email::after,
 .form input:valid + .label-email::after{
   transform: translateX(0%);
 }
 /*form-sign///////*/
 
 .inscription{  
      
   position: absolute;
   top: 300px;
   left: 30%;
   width:40%;
   height: 50vh;
   background-color: rgba(0, 0, 0, 0.7 );
   border-radius: 10px;
 }

 .form-sign{
  height: 80%;
  display: flex; 
  flex-direction: column;
  
  justify-content: space-around;  
}

.label-sign{
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 30px;
}

.input-username, .input-password{
  background:none;
  font-size: 20px;
  width: 50%;
  margin: auto ;
  border:none;
}

.input-username:focus, .input-password:focus,
.input-username:valid, .input-password:valid
{
  border-bottom : 1px solid rgba(20,232,221) ;  
}

.btn-form-sign{
  
  padding:8px 5px;
  margin:0 270px;
  border:1px solid rgba(20,232,221);
  border-radius:2em;    
  text-decoration:none;    
  font-weight:800;
  font-size: 20px;
  color:#FFFFFF;
  background-color: rgb(20,232,221);  
  text-align:center;
  text-transform: uppercase;
  transition: all 1s;
}

.btn-form-sign:hover{
  background: none;
}
/*about////////////*/
.about{  
  margin-top: 50vh;
  width: 100%;  
  color: white;
  font-weight: 350;
}

#story-title{
  font-weight: 300;
  font-size: 35px ;
  text-transform: uppercase;
  text-align: center;
  padding-top: 250px;  
}

.about p{
  margin: auto;
  padding-top: 200px;  
  width: 70%;
  text-align: justify;
  color: white;
  font-size: 20px;
  font-weight: 350;
  text-shadow: none;

}

.story-span{
  position:relative;
  top: 100px;
  left: 950px;  
}

.direction{
  display:flex;
  justify-content: space-around;
  margin-top: 200px;
  font-size: 18px;
  text-align: justify;
}

.direction .img{
  width: 250px;
  height: 600px;
  border: 1px solid white;
  text-align: center;
  padding: 20px;
}
.direction .img1{
  width: 500px;
  height: 600px;
  border: 1px solid white;
  text-align: center;
  padding: 20px;
}
.direction p{
  padding-top: 50px;
}
/*locations/////////*/
.locations{

  position: absolute;  
  width:80%;
  height:60vh;
  background-color: rgba(0, 0, 0, 0.7 );
  left: 180px;
  top: 300px
}
.locations img{
  float:left;
}
.locations h2{
  text-align: center;
  padding-top: 30px;
  font-weight: 400;
}
.sf_house{  
  margin: 100px;
  text-align: right;
  font-size: 20px;
  color: white;
  text-shadow: none;
  
}

 /*footer//////////*/
 
 .copyright{

   font-size: 16px;
   position: absolute;
   margin-bottom: 20px;
 }